@import "index.scss";
@media (max-width: 1200px) {
  .header-container .navbar-nav{
    margin-left: 0 !important;
  }
  .exit--Icon{
    float: none !important;
    position: absolute;
  }
  .navbar-header {
    width: 100%;
    float: none;
    .navbar-brand {
      margin-left: 25px !important;
      padding-left: 0 !important;
    }
    .navbar-toggle {
      margin-right: 10px !important;
      display: block !important;
    }
  }
  .navbar-left, .navbar-right {
      float: none !important;
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse {
    margin: 0 !important;
    padding: 0;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    &.collapse {
      display: none !important;
      display: none !important;
      &.in {
        display: block !important;
      }
    }
  }
  .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
      > li {
          float: none;
          > a {
              padding-top: 10px;
              padding-bottom: 10px;
          }
      }
  }
}

.header-container {
  background: $black;
  border-radius: 0;
  .container{
    width: 100%;
    padding: 0;
  }
  .navbar-brand{
    padding: 22px 52px;
    padding-right: 0;
    height: auto;
  }
  .navbar-toggle{
    padding: 15px 10px;
    margin-top: 15px;
    margin-right: 52px;
  }
  .navbar-nav {
    margin-left: 84px;
    li>a {
      padding-top: 28px;
      padding-bottom: 28px;
      color: $white;
      font-size: 16px;
      &:hover{
        color: $li;
      }
    }
  }
  .collapse.in{
      display:block !important;
      overflow: hidden;
  }
}

.authorization {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  .auth--logo{
    text-align: center;
    img {
      width: auto;
      max-width: 100%;
      height: 100%;
    }
  }
  .navbar-brand {
    margin-left: 0px !important;
  }
  .auth--form{
    margin: 0 auto;
    float: none;
    padding-top: 135px;
    display: flex;
    text-align: center;

    .form-control:focus{
      box-shadow: none;
    }
    .has-feedback{
      margin-bottom: 35px;
    }

    .no--margin{
      margin-bottom: 0;
    }

    input{
      border: none;
      border-bottom: 1px solid #d5d5d5;
      box-shadow: none;
      border-radius: 0;
      text-align: center;
      font-size: 16px;
      padding: 0;
    }
  }

  .auth--button{
    background: $black;
    color: $white;
    font-size: 16px;
    border-radius: 0;
    padding: 11px 76px 10px 76px;
    margin-top: 45px;

    &:focus{
      background: $black;
      color: #fff;
    }
  }
}

.addButton{
  background: url("../images/buttons/add.png");
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin-left: 25px;
}

.finishButton{
  background: url("../images/buttons/finish.png");
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin-right: 9px;
}

.editButton{
  background: url("../images/buttons/edit.png");
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin-right: 9px;
}
.autoContainer {
  .deleteButton {
    position: absolute;
    right: -45px;
    top: 50%;
    margin: 0;
    margin-top: -15px;
    width: 30px;
    height: 30px;
  }
  .autoType {
    line-height: 25px;
    max-height: 25px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
  }
}
.deleteButton{
  background: url("../images/buttons/delete.png");
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin-right: 15px;
  cursor: pointer;
}

.dropdown{
  .btn{
    border-radius: 0;
  }

  .caret{
    transform: rotate(180deg);
    margin-top: -3px;
  }
}
table .dropdown-menu > li > a:focus, table .dropdown-menu > li > a:hover{
  background-color: #1c1d1e;
  color: #fff; 
}

.react-bootstrap-table-page-btns-ul.pagination{
  float: right;
  margin-top: 0;

  li{
    span{
      color: #333333;
    }
    a{
      color: #333333;
      border-radius: 0;
    }
  }
  .active>a{
    color: #343348;
    cursor: default;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
  }
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  z-index: 2;
  color: #333333;
  background-color: #f6f6f6;
  border-color: #e8e8e8;
}

.header-checkbox {
  -webkit-appearance: none;
  top: -18px;
  left: 10px;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    background: #ccc;
  }
}

.header-checkbox:active, .header-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.custom-checkbox-header-container{position: relative}

.header-checkbox:checked:after {
  content: '\2713';
  left: 2px;
  top: -1px;
  border: none;
  position: absolute;
  color: #fff;
  font-size: 14px;
}

.header-checkbox:checked {
  background: #81c783;

  &:hover{
    background: #ccc;
  }
}

input[type=checkbox], input[type=radio]{
  padding: 7px !important;
  position: absolute;
  left: -8px;
  top: -11px;
}

.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    display: none;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: auto;
    transform: translate(-50%, -80%);
    left: 50%;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1px solid #a0a0a0;
    border-radius: 5px;

    &:after {
      content: '\2713';
      position: absolute;
      display: none;
      left: 1px;
      top: -2px;
      font-size: 14px;
      color: #fff;
      border: none;
    }
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  &:checked ~ .checkmark {
    background-color: #2196F3;
  }
}

.checkbox--style .checkmark{
  background-color: #81c784;

  &:after{
    border: none;
    border-width: 0 2px 2px 0;
  }
}
.containerForCheckbox.green {
  background-color: #81c784;
  color: #fff;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.containerForCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  margin: 0;
  font-weight: 300;
  padding: 8px 20px;
  border-radius: 0;
  font-size: 14px;
  background: #d1d1d1;
  border: none;
  
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 9px;
    left: 21px;
    height: 18px;
    width: 18px;
    background-color: red;
    border-radius: 50%;
  }

  input:checked ~ .checkmark {
    background-color: #99d296;
  }

  &:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}