@import url("bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,vietnamese");
* {
  outline: none;
}

.mb-4 {
  margin-bottom: 8px !important;
}

.erroType .Select-control {
  border: 1px solid red !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  height: 100%;
}

html {
  position: relative;
  height: 100%;
}

#root {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 11px 15px 10px 36px;
  background-color: #000000;
  z-index: 3;
}

.footer .copyright {
  color: #fff;
  font-size: 14px;
}

.exit--Icon {
  background: url("../images/exitIcon.png") no-repeat;
  width: 12px;
  height: 10px;
  float: right;
  margin-top: 7px;
  margin-left: 4px;
}

.react-bs-table-container {
  margin-top: 4px;
}

.table--buttons {
  padding: 0;
}

.zt--Container {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 6px;
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  .zt--Container {
    padding: 0 5px !important;
  }
}

.table > thead > tr > th {
  vertical-align: middle;
}

.table p {
  margin: 0 !important;
}

.table .td-medium, .table .td-dark {
  max-width: 100px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  overflow: visible;
}

.table tr:last-child(2) .dropdown-menu {
  top: -60px;
  bottom: auto;
}

.table tr:last-child .dropdown-menu {
  top: -40px;
  bottom: unset;
}

.table tr:first-child .dropdown-menu {
  top: 5px;
  bottom: auto  !important;
}

.table thead tr th {
  padding-top: 7px !important;
  padding-bottom: 54px !important;
  position: relative;
}

.table tr td {
  padding: 15px 0 !important;
  font-size: 12px;
  position: relative;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
  font-weight: normal;
}

.btn-toolbar {
  float: right;
}

[data-field="updated"] {
  display: none;
}

.table {
  margin-bottom: 0;
}

.table .filter.text-filter.form-control {
  display: block;
  bottom: 13px;
  width: 80%;
  margin: 0 auto;
  left: auto;
  right: 10%;
  float: none;
  height: 31px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e8e8e8;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  position: absolute;
}

.table thead th {
  background: #dfe2e5;
  border-right: 1px solid #fff !important;
  text-align: center !important;
}

.roadsT--header tr th:first-child {
  position: relative;
  padding: 0 !important;
}

#dropdown-no-caret {
  border: none;
  position: relative;
  background: none;
  padding: 50% 10px 50% 10px;
  margin-left: -22px;
  margin-top: -22px;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  padding-top: 18px;
  padding-bottom: 17px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  text-align: center !important;
  vertical-align: middle;
}

.table-bordered {
  border: none;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border: none;
  padding: 2px;
}

.td-column-function-even-example {
  background: #e8e8e8;
}

.td-column-function-odd-example {
  background: #f0f0f0;
}

.td-light {
  background: #f6f6f6;
  overflow: visible !important;
}

.td-medium {
  background: #f3f3f3;
}

.td-dark {
  background: #e8e8e8;
}

tr:nth-child(odd) {
  background: #f6f6f6;
}

tr:nth-child(even) {
  background: #f3f3f3;
}

.inlineError {
  position: absolute;
  top: 40px;
  width: 100%;
  left: 0;
}

.react-bs-table-no-data {
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

table .dropdown-menu > li > a:focus, table .dropdown-menu > li > a:hover {
  background-color: #e8e8e8;
}

table .dots .dot {
  float: left;
}

table .open {
  position: relative;
}

table .dropDownTable {
  position: relative;
  display: block;
}

table button {
  float: right;
}

table tr:last-child .dropdown-menu,
table tr:nth-last-child(2) .dropdown-menu {
  top: unset;
  bottom: 16px;
}

table td {
  padding: 0;
}

table td .btn-toolbar {
  float: none;
  text-align: center;
  margin: 0 auto;
  width: 23px;
  display: block;
  transform: translate(0%, 50%);
  margin-left: auto;
  display: block;
  position: relative;
}

table td .dropdown {
  margin-left: 0 !important;
}

table td .dropdown button {
  padding: 0;
}

table td .dropdown i {
  background: url("../../assets/images/dots.png") no-repeat;
  width: 23px;
  height: 6px;
  display: block;
}

table td .dropdown.open i {
  background: url("../../assets/images/dotHover.png") no-repeat;
  width: 23px;
  height: 6px;
  display: block;
}

table .dropdown-menu {
  left: unset;
  right: -22px;
  padding: 0;
  border-radius: 0;
  border: none;
  top: 16px;
  z-index: 223;
  font-size: 12px !important;
}

table .dropdown-menu li {
  background: #3b3b3b;
  margin-bottom: 1px;
  z-index: 223;
  position: relative;
}

table .dropdown-menu li:last-child {
  margin-bottom: 0;
}

table .dropdown-menu li a {
  color: #fff;
  padding: 6px 53px 6px 15px;
  position: relative;
  z-index: 223;
}

.dropdown-menu {
  z-index: 123;
  top: auto;
  bottom: 100%;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.175);
}

input:focus, .zt--select:focus {
  outline: none !important;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  color: #3b3b3b !important;
}

.zt-modal {
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
}

.zt-modal ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d0d0d0;
}

.zt-modal ::-moz-placeholder {
  /* Firefox 19+ */
  color: #d0d0d0;
}

.zt-modal :-ms-input-placeholder {
  /* IE 10+ */
  color: #d0d0d0;
}

.zt-modal :-moz-placeholder {
  /* Firefox 18- */
  color: #d0d0d0;
}

.zt-modal .modal-open .modal {
  padding: 0 !important;
}

.zt-modal .modal-content {
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.zt-modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  border: none;
}

.zt-modal .driver--select {
  margin-bottom: 20px;
}

.zt-modal .driver {
  margin-top: 10px !important;
}

.zt-modal .driver .remove-driver {
  background: url("../../assets/images/trash.png") no-repeat;
  width: 17px;
  height: 17px;
  display: inline-flex;
  background-size: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 8px;
}

.zt-modal .driver span {
  border-bottom: 1px solid #949494;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  padding-bottom: 3px;
  padding-right: 10px;
  float: right;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zt-modal .btn {
  padding: 8px 38px;
  border-radius: 0;
  font-size: 14px;
  color: #ffffff;
  border: none;
}

.zt-modal .btn:focus {
  outline: none;
}

.zt-modal .modal-footer .btn + .btn {
  margin-left: 12px;
}

.zt-modal .close--btn {
  background: #b8b8b8;
}

.zt-modal .save--btn {
  background: #81c784;
}

.zt-modal .save--btn:active:focus {
  background-color: #70ab72;
  color: #fff;
}

.zt-modal .modal-body {
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 74px;
  overflow: hidden;
}

.zt-modal .modal-body .col-md-8 {
  padding: 0;
  padding-right: 20px;
}

.zt-modal .modal-body .col-md-8 .col-md-12 {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 11px;
}

.zt-modal .modal-body .col-md-8 .col-md-12 .col-md-6 {
  padding: 0;
}

.zt-modal .modal-body .col-md-4 {
  padding: 0;
  padding-left: 60px;
}

.zt-modal .modal-body .col-md-4 .col-md-12 {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 11px;
}

.zt-modal .modal-body .modal-row {
  margin: 10px 0;
}

.zt-modal .modal-body .separator {
  width: 1px;
  background: #c4c4c4;
  height: 130vh;
  position: absolute;
  top: -28px;
  left: 21px;
}

.zt-modal .modal-body .separator2 {
  width: 1px;
  background: #c4c4c4;
  height: 130vh;
  position: absolute;
  top: -28px;
  left: 0px;
}

.zt-modal .modal-body .header-title {
  margin-bottom: 20px;
}

.zt-modal h4 {
  color: #3b3b3b;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 300;
}

.zt-modal .modal-header {
  padding: 10px 14px;
  background: #222425;
  border: 0;
}

.zt-modal .modal-header .close span {
  color: #fff;
}

.zt-modal .modal-header .modal-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
}

.zt--select, .zt--input {
  max-width: 320px;
  width: 100%;
}

.zt--select .Select-clear-zone, .zt--input .Select-clear-zone {
  right: 0;
}

.zt--select {
  margin: 0 !important;
}

.zt--input {
  border: none;
  border-bottom: 1px solid #d0d0d0;
  font-size: 12px;
  padding-left: 9px;
  color: #000;
}

.zt--input:disabled {
  background: transparent;
  cursor: not-allowed;
}

.carInput {
  width: 50%;
}

.carInput .Select-clear-zone {
  position: absolute;
  right: 10px;
  top: 3px;
}

.Select-clear-zone {
  right: -20px;
}

.carInputBlock {
  justify-content: end;
  display: flex;
}

.carInput .Select-placeholder {
  padding-top: 1px !important;
}

.zt--select, .is-open, .is-focused {
  height: auto;
  font-size: 12px;
}

.zt--select .Select-control, .is-open .Select-control, .is-focused .Select-control {
  height: 25px;
  border-radius: 0;
  border: 1px solid #222425;
}

.zt--select .Select-arrow, .is-open .Select-arrow, .is-focused .Select-arrow {
  border-color: #222425 transparent transparent;
  border-style: solid;
  border-width: 6px 6px 2.5px;
}

.zt--select .Select-input, .is-open .Select-input, .is-focused .Select-input {
  height: 25px;
}

.zt--select .Select-placeholder, .is-open .Select-placeholder, .is-focused .Select-placeholder {
  line-height: 25px;
}

.zt--select .Select-arrow-zone, .is-open .Select-arrow-zone, .is-focused .Select-arrow-zone {
  top: 70%;
  transform: translate(0, -60%);
}

.zt--select .Select-menu-outer, .is-open .Select-menu-outer, .is-focused .Select-menu-outer {
  border-color: #222425;
  width: 99.8%;
}

.zt--select .Select-input > input, .is-open .Select-input > input, .is-focused .Select-input > input {
  line-height: 11px;
  padding: 3px 0 7px;
}

.zt--select.is-open > .Select-control {
  border-color: #222425 !important;
}

.zt--select.is-open > .Select-control .Select-arrow {
  border-color: transparent transparent #222425 !important;
  border-style: solid;
  border-width: 0 6px 6px !important;
}

.zt--select.is-disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}

.zt--select.is-disabled .Select-arrow-zone {
  opacity: 1;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  line-height: 25px !important;
}

.Select-clear {
  margin-top: 2px;
}

.table tr td.react-bs-table-no-data {
  padding: 20px 0px 20px 0px !important;
}

.gm-style .popupInfo {
  padding: 0;
  margin-top: 20px;
}

.gm-style .popupInfo p {
  font-size: 12px;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 10px;
  padding-left: 10px;
}

.gm-style .popupInfo p:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.gm-style h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.gm-style .road_info {
  font-size: 12px;
  width: 212px !important;
  background: #ffffff;
  margin-top: -14px;
  margin-left: 12px;
}

.gm-style .road_info .road_info_title {
  font-size: 12px;
}

.gm-style .road_title {
  width: 212px !important;
  margin-top: -40px;
  margin-left: 12px;
  font-size: 12px;
  color: #202122;
}

.datepicker {
  display: flex;
  flex-grow: 1;
  position: relative;
  z-index: 99999;
}

.datepicker .datepicker--input {
  max-width: 154px;
  width: 100%;
  height: 32px;
  text-align: center;
  color: #555555;
  font-weight: 300;
  border: 1px solid #232526;
}

.datepicker .datePicker--text {
  background: #81c784;
  padding: 6px 6px 6px 6px;
  margin-right: -1px;
  z-index: 999;
  position: relative;
  color: #fff;
  font-size: 13px;
  text-align: center;
  border: 1px solid #000;
  border-right: none;
}

.history--buttons {
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 8px;
  width: 100%;
}

.history--buttons .exportButton {
  background: #81c784;
  border: none;
  color: #fff;
  max-width: 140px;
  width: 100%;
  padding: 6px 10px 6px 10px;
}

.history--buttons .exportButton:hover {
  background: #669d69;
}

.history--buttons .datePicker--block {
  position: relative;
}

.history--buttons .datePicker--block .historyPicker {
  max-width: 154px;
  width: 100%;
  height: 32px;
  text-align: center;
  color: #555555;
  font-weight: 300;
  margin-right: 16px;
  border: 1px solid #232526;
  padding-left: 30px;
}

.history--buttons .datePicker--block span {
  background: #81c784;
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 6px 6px 6px 6px;
  width: 35px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.history--buttons .datePicker--block .react-datepicker__day-name, .history--buttons .datePicker--block .react-datepicker__day, .history--buttons .datePicker--block .react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 2.7rem;
  line-height: 2.7rem;
  text-align: center;
  margin: 0.166rem;
  font-size: 13px;
  font-weight: 300;
}

.history--buttons .datePicker--block .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--selected.react-datepicker__day--today {
  color: #fff !important;
}

.history--buttons .datePicker--block .react-datepicker__current-month, .history--buttons .datePicker--block .react-datepicker-time__header {
  margin-top: 3px;
  color: #000;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}

.history--buttons .datePicker--block .react-datepicker__navigation {
  background: none;
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 13px;
  width: 0;
  padding: 0;
  border: 7px solid transparent;
  z-index: 1;
}

.history--buttons .datePicker--block .react-datepicker__navigation--next {
  border-left-color: #ccc;
}

.history--buttons .datePicker--block .react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: #ccc;
}

.Toastify__toast-container--top-right {
  right: 1.5em !important;
}

.Toastify__toast {
  padding: 0 !important;
}

.Toastify__close-button {
  padding-right: 10px !important;
  padding-top: 5px !important;
}

.success-message {
  background: #81c783 !important;
  min-height: 55px !important;
  margin-bottom: 15px !important;
}

.success-message h4 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 15px !important;
  font-size: 15px !important;
}

.error-warning {
  min-height: 55px !important;
  margin-bottom: 0 !important;
  background: #ff0000 !important;
}

.error-warning h4 {
  padding-top: 2px !important;
  padding-bottom: 0px !important;
  padding-left: 15px !important;
  font-size: 15px !important;
  text-transform: uppercase;
}

.error-message, .success-message {
  box-shadow: 0px 1px 7px 0px #7a7a7a !important;
}

.error-message .Toastify__toast-body, .success-message .Toastify__toast-body {
  margin: 0;
}

.error-message h4, .success-message h4 {
  font-family: 'Open Sans';
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 17px;
  padding-left: 10px;
}

.error-message p, .success-message p {
  font-family: 'Open Sans';
  font-weight: 300;
  padding-left: 10px;
}

.modal-table {
  width: 100%;
}

.modal-table .modal-table-header {
  color: #d0d0d0;
  font-size: 12px;
  font-weight: 400;
}

.modal-table .modal-table-row {
  margin: 10px 0;
}

.remove-btn {
  background: url("../../assets/images/trash.png") no-repeat;
  width: 17px;
  height: 17px;
  display: block;
  margin: 0 auto;
  background-size: 100%;
  cursor: pointer;
}

.react-bs-table-pagination {
  z-index: 1;
  display: block;
  position: relative;
}

.map-modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
  overflow: hidden;
}

.map-modal .map-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: block;
  z-index: 9999;
  cursor: pointer;
  opacity: 0.5;
}

.map-modal .map-modal-close:hover {
  opacity: 1;
}

.map-modal .map-modal-close:before, .map-modal .map-modal-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 60px;
  width: 2px;
  background-color: #333;
}

.map-modal .map-modal-close:before {
  transform: rotate(45deg);
}

.map-modal .map-modal-close:after {
  transform: rotate(-45deg);
}

.map-modal .map-modal-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  border: 1px solid #212324;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.map-modal .map-modal-info .map-modal-header {
  background-color: #3b3b3b;
  vertical-align: middle;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}

.map-modal .map-modal-info .map-modal-body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.map-modal .map-modal-info .map-modal-body .map-modal-row {
  line-height: 25px;
  border: 1px solid #d0d0d0;
  padding-left: 12px;
}

.react-confirm-alert-button-group > button {
  border-radius: 0;
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}

.react-confirm-alert-overlay .react-confirm-alert-body {
  box-shadow: 0px 1px 19px 7px rgba(0, 0, 0, 0.13) !important;
  color: #666;
  font-size: 18px !important;
  border-radius: 0 !important;
  text-align: center !important;
}

.react-confirm-alert-overlay .react-confirm-alert-body .react-confirm-alert-button-group {
  justify-content: flex-end;
}

.react-confirm-alert-overlay .react-confirm-alert-body .react-confirm-alert-button-group button {
  border-radius: 0 !important;
  cursor: pointer;
  width: 100%;
  font-size: 15px !important;
  padding: 7px 18px !important;
}

.react-confirm-alert-overlay .react-confirm-alert-body .react-confirm-alert-button-group button:first-child {
  background: #81c784;
  margin-right: 10%;
}

.react-confirm-alert-overlay .react-confirm-alert-body .react-confirm-alert-button-group button:first-child:hover {
  background: #669b68;
}

.react-confirm-alert-overlay .react-confirm-alert-body .react-confirm-alert-button-group button:last-child {
  background: #333;
}

.react-confirm-alert-overlay .react-confirm-alert-body .react-confirm-alert-button-group button:last-child:hover {
  background: #555454 !important;
}

.roadsTable {
  padding: 15px;
}

.roadsTable .react-bs-container-body table tbody tr {
  height: 128px;
}

.roadsTable table tbody tr:first-child .dropdown-menu {
  top: 10px !important;
  bottom: auto  !important;
}

.roadsTable table tbody tr:last-child .dropdown-menu {
  top: -130px !important;
  bottom: unset;
  transform: translate(0%, 58%);
}

.react-bs-table-bordered {
  border: none;
  border-radius: 0;
}

.react-bs-table table td, .react-bs-table table th {
  white-space: unset !important;
}

.dotsTd {
  overflow: visible;
}

.mapModalOverflow {
  overflow: hidden;
}

.btn-group .btn.btn-grey {
  background-color: #b8b8b8;
}

.road-type-buttons .btn {
  margin: 0 10px;
}

.road-type-buttons .btn.active {
  background-color: #81c784;
  color: #fff;
}

.road-type-buttons .btn.active:hover {
  color: #fff;
}
/*# sourceMappingURL=index.css.map */