@import url("bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,vietnamese");

*{outline: none}
$black: #1b1d1e;
$white: #fff;
$li: #e2e2e2;
$tableLight: #f6f6f6;
$tableMedium: #f3f3f3;
$tableDark: #e8e8e8;
$spacer: 16px;

.mb-4 {
  margin-bottom: ($spacer * .5) !important;
}

.erroType .Select-control{
  border: 1px solid red !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
 height: 100%;
}
html {
    position: relative;
    height: 100%;
}
#root {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 11px 15px 10px 36px;
  background-color: #000000;
  z-index: 3;

  .copyright{
    color: #fff;
    font-size: 14px;
  }
}

.exit--Icon{
  background: url("../images/exitIcon.png") no-repeat;
  width: 12px;
  height: 10px;
  float: right;
  margin-top: 7px;
  margin-left: 4px;
}

.react-bs-table-container{
  margin-top: 4px;
}

.table--buttons{
  padding: 0;
}

.zt--Container{
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 6px;
  margin-bottom: 40px;
  @media (max-width: 640px) {
    padding: 0 5px !important;
  }
}

.table > thead > tr > th{
  vertical-align: middle;
}
.table{
  p{margin: 0 !important;}
  .td-medium, .td-dark{
    max-width: 100px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    overflow: visible;
  }

  tr {
    &:last-child(2) {
      .dropdown-menu{
        top: -60px;
        bottom: auto;
      }
    }
    &:last-child {
      .dropdown-menu{
        top: -40px;
        bottom: unset;
      }
    }
    &:first-child {
      .dropdown-menu  { 
        top: 5px;
        bottom: auto  !important;
      }
    }
  }
}
.table thead tr th{
  padding-top: 7px !important;
  padding-bottom: 54px !important;
  position: relative;
}

.table tr td{
  padding: 15px 0 !important;
  font-size: 12px;
  position: relative;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th{
  font-weight: normal;
}

.btn-toolbar{float: right;}
[data-field="updated"] {
  display: none;
}
.table{
  margin-bottom: 0;
  // .TableRowdate{
  //   display: none;
  // }
  .filter.text-filter.form-control{
    display: block;
    bottom: 13px;
    width: 80%;
    margin: 0 auto;
    left: auto;
    right: 10%;
    float: none;
    height: 31px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    position: absolute;
  }

  thead {
    th {
      background: #dfe2e5;
      border-right: 1px solid #fff !important;
      text-align: center !important;
    }
  }
}

.roadsT--header{
  tr th{
    &:first-child{
      position: relative;
      padding: 0 !important;
    }
  }
}

#dropdown-no-caret{
  border: none;
  position: relative;
  background: none;
  padding: 50% 10px 50% 10px;
  margin-left: -22px;
  margin-top: -22px;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  padding-top: 18px;
  padding-bottom: 17px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
  text-align: center !important;
  vertical-align: middle;
}
.table-bordered{
  border: none
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border: none;
  padding: 2px;
}

.td-column-function-even-example{
  background: #e8e8e8;
}

.td-column-function-odd-example{
  background: #f0f0f0;
}

.td-light{
  background: $tableLight;
  overflow: visible !important;
}

.td-medium{
  background: $tableMedium;
}

.td-dark{
  background: $tableDark;
}

tr:nth-child(odd) {
  background: $tableLight;
}

tr:nth-child(even) {
  background: $tableMedium;
}

.inlineError{
  position: absolute;
  top: 40px;
  width: 100%;
  left: 0;
}

.react-bs-table-no-data{
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

table {
  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #e8e8e8;
  }
  .dots {
    .dot{float: left;}
  }
  .open{
    position: relative;
  }
  .dropDownTable{
    position: relative;
    display: block;
  }
  button{float: right;}
  tr {
    &:last-child .dropdown-menu,
    &:nth-last-child(2) .dropdown-menu {
      top: unset;
      bottom: 16px;
    }
  }
  td {
    padding: 0;
    .btn-toolbar{
      float: none;
      text-align: center;
      margin: 0 auto;
      width: 23px;
      display: block;
      transform: translate(0%, 50%);
      margin-left: auto;
      display: block;
      position: relative;
    }
    .dropdown{
      margin-left: 0 !important;
      button{
        padding: 0;
      }
      i{
        background: url('../../assets/images/dots.png') no-repeat;
        width: 23px;
        height: 6px;
        display: block;
      }
    }

    .dropdown.open{
      i{
        background: url('../../assets/images/dotHover.png') no-repeat;
        width: 23px;
        height: 6px;
        display: block;
      }
    }
  }
  .dropdown-menu{
    left: unset;
    right: -22px;
    padding: 0;
    border-radius: 0;
    border: none;
    top: 16px;
    z-index: 223;
    font-size: 12px !important;
    li{
      background: #3b3b3b;
      margin-bottom: 1px;
      z-index: 223;
      position: relative;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        color: #fff;
        padding: 6px 53px 6px 15px;
        position: relative;
        z-index: 223;
      }
    }
  }
}

.dropdown-menu{
  z-index: 123;
  top: auto;
  bottom: 100%;
  box-shadow: 0 -2px 8px rgba(0,0,0,.175);
}

input:focus, .zt--select:focus{outline: none !important;}
.Select-placeholder, .Select--single > .Select-control .Select-value{
  color: #3b3b3b !important;
}
.zt-modal{
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d0d0d0;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #d0d0d0;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #d0d0d0;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #d0d0d0;
  }

  .modal-open .modal{
    padding: 0 !important;
  }
  .modal-content{
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  .modal-footer{
    display: flex;
    justify-content: flex-end;
    border: none;
  }
  .driver--select{
    margin-bottom: 20px;
  }
  .driver{
    margin-top: 10px !important;
    .remove-driver{
      background: url('../../assets/images/trash.png') no-repeat;
      width: 17px;
      height: 17px;
      display: inline-flex;
      background-size: 100%;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 8px;
    }
    span{
      border-bottom: 1px solid #949494;
      width: 100%;
      display: flex;
      margin: 0 auto;
      justify-content: flex-end;
      padding-bottom: 3px;
      padding-right: 10px;
      float: right;
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .btn{
    padding: 8px 38px;
    border-radius: 0;
    font-size: 14px;
    color: #ffffff;
    border: none;

    &:focus{
      outline: none;
    }
  }
  .modal-footer .btn+.btn{
    margin-left: 12px;
  }

  .close--btn{
    background: #b8b8b8;
  }
  .save--btn{
    background: #81c784;

    &:active:focus {
      background-color: #70ab72;
      color: #fff;
    }

  }

  .modal-body{
    padding-top: 28px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 74px;
    overflow: hidden;

    .col-md-8 {
      padding: 0;
      padding-right: 20px;

      .col-md-12{
        padding: 0;
        margin-top: 20px;
        margin-bottom: 11px;

        .col-md-6{
          padding: 0;
        }
      }
    }

    .col-md-4{
      padding: 0;
      padding-left: 60px;

      .col-md-12{
        padding: 0;
        margin-top: 20px;
        margin-bottom: 11px;
      }
    }
    .modal-row {
      margin: 10px 0;
    }
    .separator{
      width: 1px;
      background: #c4c4c4;
      height: 130vh;
      position: absolute;
      top: -28px;
      left: 21px;
    }
    .separator2{
      width: 1px;
      background: #c4c4c4;
      height: 130vh;
      position: absolute;
      top: -28px;
      left: 0px;
    }
    .header-title {
      margin-bottom: 20px;
    }
  }

  h4{
    color: #3b3b3b;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;
  }

  .modal-header{
    padding: 10px 14px;
    background: #222425;
    border: 0;

    .close span{color: #fff;}
    .modal-title{
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 400;
    }
  }
}

.zt--select, .zt--input{
  max-width: 320px;
  width: 100%;
  .Select-clear-zone {
    right: 0;
  }
}
.zt--select{margin: 0 !important;}

.zt--input{
  border: none;
  border-bottom: 1px solid #d0d0d0;
  font-size: 12px;
  padding-left: 9px;
  color: #000;

  &:disabled{
    background: transparent;
    cursor: not-allowed;
  }
}

.carInput{
  width: 50%;

  .Select-clear-zone{
    position: absolute;
    right: 10px;
    top: 3px;
  }
}

.Select-clear-zone{
  right: -20px;
}

.carInputBlock{
  justify-content: end;
  display: flex;
}
.carInput .Select-placeholder{
  padding-top: 1px !important;
}

.zt--select, .is-open, .is-focused{
  height: auto;
  font-size: 12px;
  .Select-control{
    height: 25px;
    border-radius: 0;
    border: 1px solid #222425;
  }

  .Select-arrow{
    border-color: #222425 transparent transparent;
    border-style: solid;
    border-width: 6px 6px 2.5px;
  }

  .Select-input{
    height: 25px;
  }
  .Select-placeholder{
    line-height: 25px;
  }
  .Select-arrow-zone{
    top: 70%;
    transform: translate(0, -60%);
  }

  .Select-menu-outer{
    border-color: #222425;
    width: 99.8%;
  }
  .Select-input > input{
    line-height: 11px;
    padding: 3px 0 7px;
  }
}

.zt--select.is-open > .Select-control{
  border-color: #222425 !important;

  .Select-arrow{
    border-color: transparent transparent #222425 !important;
    border-style: solid;
    border-width: 0 6px 6px !important;
  }
}

.zt--select.is-disabled{
  cursor: default;
  pointer-events: none;
  opacity: 0.35;

  .Select-arrow-zone{
    opacity: 1;
  }
}

.Select-placeholder, .Select--single > .Select-control .Select-value{
  line-height: 25px !important;
}

.Select-clear{
  margin-top: 2px;
}

.table tr td.react-bs-table-no-data{
  padding: 20px 0px 20px 0px !important;
}

.gm-style{
  .popupInfo{
    padding: 0;
    p{
      font-size: 12px;
      border-bottom: 1px solid #d0d0d0;
      padding-bottom: 10px;
      padding-left: 10px;

      &:last-child{
        padding-bottom: 0;
        border-bottom: 0;
      }
    };
    margin-top: 20px;
  }
  h2{
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .road_info {
    font-size: 12px;
    width: 212px !important;
    background: #ffffff;
    margin-top: -14px;
    margin-left: 12px;
    .road_info_title {
      font-size: 12px;
    }
  }
  .road_title {
    width: 212px !important;
    margin-top: -40px;
    margin-left: 12px;
    font-size: 12px;
    color: #202122;
  }
}

.datepicker {
  display: flex;
  flex-grow: 1;
  position: relative;
  z-index: 99999;
  .datepicker--input{
    max-width: 154px;
    width: 100%;
    height: 32px;
    text-align: center;
    color: #555555;
    font-weight: 300;
    border: 1px solid #232526;
  }

  .datePicker--text {
    background: #81c784;
    padding: 6px 6px 6px 6px;
    margin-right: -1px;
    z-index: 999;
    position: relative;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border: 1px solid #000;
    border-right: none;
  }
}

.history--buttons{
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 8px;
  width: 100%;
  .exportButton{
    background: #81c784;
    border: none;
    color: #fff;
    max-width: 140px;
    width: 100%;
    padding: 6px 10px 6px 10px;
    &:hover{
      background: #669d69;
    }
  }
  .datePicker--block {
    position: relative;
    .historyPicker{
      max-width: 154px;
      width: 100%;
      height: 32px;
      text-align: center;
      color: #555555;
      font-weight: 300;
      margin-right: 16px;
      border: 1px solid #232526;
      padding-left: 30px;
    }

    span{
      background: #81c784;
      position: absolute;
      top: 1px;
      left: 1px;
      padding: 6px 6px 6px 6px;
      width: 35px;
      color: #fff;
      font-size: 13px;
      text-align: center;
    }

    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
      color: #000;
      display: inline-block;
      width: 2.7rem;
      line-height: 2.7rem;
      text-align: center;
      margin: 0.166rem;
      font-size: 13px;
      font-weight: 300;
    }

    .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--selected.react-datepicker__day--today{
      color: #fff !important;
    }

    .react-datepicker__current-month, .react-datepicker-time__header {
      margin-top: 3px;
      color: #000;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
    }

    .react-datepicker__navigation {
      background: none;
      line-height: 1.7rem;
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: 13px;
      width: 0;
      padding: 0;
      border: 7px solid transparent;
      z-index: 1;
    }
    .react-datepicker__navigation--next{
      border-left-color: #ccc;
    }
    .react-datepicker__navigation--previous {
      left: 10px;
      border-right-color: #ccc;
    }
  }
}

.Toastify__toast-container--top-right{
  right: 1.5em !important;
}
.Toastify__toast{padding: 0 !important}
.Toastify__close-button{
  padding-right: 10px !important;
  padding-top: 5px !important;
}

.success-message {
  background: #81c783 !important;
  min-height: 55px !important;
  margin-bottom: 15px !important;

  h4{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 15px !important;
    font-size: 15px !important;
  }
}
.error-warning{
  min-height: 55px !important;
  margin-bottom: 0 !important;
  background: #ff0000 !important;

  h4{
    padding-top: 2px !important;
    padding-bottom: 0px !important;
    padding-left: 15px !important;
    font-size: 15px !important;
    text-transform: uppercase;
  }
}
.error-message, .success-message{
  box-shadow: 0px 1px 7px 0px #7a7a7a !important;
  .Toastify__toast-body{
    margin: 0;
  }
  h4{
    font-family: 'Open Sans';
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
    padding-left: 10px;
  }
  p {
    font-family: 'Open Sans';
    font-weight: 300;
    padding-left: 10px;
  }
}

.modal-table {
  width: 100%;
  .modal-table-header {
    color: #d0d0d0;
    font-size: 12px;
    font-weight: 400;
  }
  .modal-table-row {
    margin: 10px 0;
  }
}
.remove-btn {
  background: url('../../assets/images/trash.png') no-repeat;
  width: 17px;
  height: 17px;
  display: block;
  margin: 0 auto;
  background-size: 100%;
  cursor: pointer;
}

.react-bs-table-pagination{
  z-index: 1;
  display: block;
  position: relative;
}

.map-modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
  overflow: hidden;

  .map-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: block;
    z-index: 9999;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:before,
    &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 60px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .map-modal-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    border: 1px solid #212324;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    .map-modal-header {
      background-color: #3b3b3b;
      vertical-align: middle;
      line-height: 25px;
      text-align: center;
      font-size: 12px;
      color: #ffffff;
    }
    .map-modal-body {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      .map-modal-row {
        line-height: 25px;
        border: 1px solid #d0d0d0;
        padding-left: 12px;
      }
    }
  }
}

.react-confirm-alert-button-group > button{
  border-radius: 0;
}

.react-confirm-alert-overlay{
  background: rgba(0, 0, 0, 0.5) !important;
  .react-confirm-alert-body{
    box-shadow: 0px 1px 19px 7px rgba(0, 0, 0, 0.13) !important;
    color: #666;
    font-size: 18px !important;
    border-radius: 0 !important;
    text-align: center !important;


    .react-confirm-alert-button-group {
      justify-content: flex-end;
      button{
        border-radius: 0 !important;
        cursor: pointer;
        width: 100%;
        font-size: 15px !important;
        padding: 7px 18px !important;

        &:first-child{
          background: #81c784;
          margin-right: 10%;
          &:hover{
           background: #669b68;
          }
        }
        &:last-child{
          background: #333;
          &:hover{
            background: #555454 !important;
          }
        }
      }
    }
  }
}

.roadsTable {
  padding: 15px;
  .react-bs-container-body{
    table tbody tr {
      height: 128px;
    }
  }

  table tbody tr {
    &:first-child {
      .dropdown-menu  { 
        top: 10px !important;
        bottom: auto  !important;
      }
    }

    &:last-child {
      .dropdown-menu{
        top: -130px !important;
        bottom: unset;
        transform: translate(0%, 58%);
      }
    }
  }
}
.react-bs-table-bordered {
  border: none;
  border-radius: 0;
}

.react-bs-table table td, .react-bs-table table th{
  white-space: unset !important;
}
.dotsTd{
  overflow: visible;
}

.mapModalOverflow {
  overflow: hidden;
}
.btn-group {
  .btn {
    &.btn-grey {
      background-color: #b8b8b8;
    }
  }
}
.road-type-buttons  {
  .btn {
    margin: 0 10px;
    &.active {
      background-color: #81c784;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}